<!DOCTYPE html>
<html>
<body ng-app="ranking">

<input type="file" id="file-chooser" /> 
<button ng-model= "URL" ng-controller="missaoRankingCtrl" ng-click="uploadImage()">Upload The Selected Picture</button>
<div id="results"></div>
</body>
</html>
<script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
     <script src="js/angular/angular.js"></script>
     <script src="https://sdk.amazonaws.com/js/aws-sdk-2.1.17.min.js"></script>
    <script src="js/angular-resource/angular-resource.js"></script>
    <script src="js/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="js/sorttable.js"></script>
     <script src="uploadTest.js"></script>
    <script src="js/bootstrap.min.js"></script>